*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  height: 100vh;
  background-color: #7f559c;
}

.grid{
  position: absolute;
  width: 100%;
  height: 100vh;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.buttons{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons h1{
  font-size: 25px;
  margin: 30px;
  font-weight: 400;
  font-weight:normal;
}
.largeName{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}
.largeName h1{
  letter-spacing: 50px;
  color: white;
  font-weight: 100;
  font-size: 100px;
  font-stretch: expanded;
}
.bio{
  height: 400px;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bio h1{
  font-size: 150px;
  color: white;
}
